body{
    background-color: #e9e6e3;
    padding: 2%;
}
.mainContent{
    margin-top: 2%;
}
.programsContainer{
    margin-top: 5px;
}
.imgHeight{
    height: 15em;
}
.itmData{
    color: #7fa1eb;
}
.filters{
    background-color: #ffffff;
}
.headTxt{
    padding-left: 10px;
}
.txtCenter{
    text-align: center;
}
.filterBtn{
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: #92dd92;
    margin: 0px 25px 15px 15px;
}
.selectedBtn{
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: #27fa27;
    margin: 0px 25px 15px 15px;
}
.boldText{
    font-weight: bold;
}
.footer{
    margin-top: 2em;
}