<body>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h1>{{ title }}</h1>
    </div>  
  </div>
  <div class="row mainContent">
    <div class="col-md-3 col-sm-12">
      <div class="filters">
        <h4>Filters</h4>
        <div class="txtCenter">
          <h6>Launch Year</h6><hr/>
          <button class="filterBtn" *ngFor="let btn of yearFilter" (click)="filterByYear(btn)">{{btn}}</button>
        </div><br>
        <div class="txtCenter">
          <h6>Successful Launch</h6><hr/>
          <button class="filterBtn" (click)="filterByLaunch(true)">True</button>
          <button class="filterBtn" (click)="filterByLaunch(false)">false</button>
        </div><br>
        <div class="txtCenter">
          <h6>Successful Landing</h6><hr/>
          <button class="filterBtn" (click)="filterByLanding(true)">True</button>
          <button class="filterBtn" (click)="filterByLanding(false)">false</button>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-sm-12">
      <div class="row txtCenter" *ngIf="allPrograms == ''">
        <h2>No Program Found</h2>
      </div>
      <div class="row" *ngIf="allPrograms">
        <div class="col-md-3 col-sm-12 programsContainer" *ngFor="let item of allPrograms">
          <div class="card" style="width: 100%; height: 31em">
            <img class="card-img-top imgHeight" src="{{ item.links.flickr_images[0] || demoImg }}" alt="Card image cap">
            <div class="card-body">
              <h5><a href="{{ item.links.article_link }}" target="_blank">{{ item.mission_name }} # {{ item.flight_number }}</a></h5>
              <h6>Mission Ids:</h6>
              <ul >
                <li *ngFor="let id of item.mission_id">{{ id }}</li>
              </ul>
              <h6>Launch Year: <span class="itmData">{{ item.launch_year }}</span></h6>
              <h6>Successful Launch: <span class="itmData">{{ item.launch_success }}</span></h6>
              <h6>Successful Landing: <span class="itmData">{{ item.rocket.first_stage.cores[0].land_success || "null" }}</span></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>